body {
    background: linear-gradient(to bottom right, rgb(83, 55, 147), rgb(203, 45, 45));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.navbar-item {
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
}

.landing {
    text-align: center;
    padding: 6rem 0;
}

.landing h1 {
    font-size: 4rem;
}

.landing span {
    font-size: 1.5rem;
    font-weight: 300;
}

.skills {
    padding: 2rem 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 100%;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    align-items: center;
    height: 200px;
}

.carousel-item {
    min-width: 100%;
    display: none; /* Oculta todos los ítems por defecto */
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    transition: opacity 0.5s ease-in-out;
    box-sizing: border-box;
}

.carousel-item.active {
    display: flex; /* Solo muestra el ítem activo */
    opacity: 1;
}

.carousel-controls {
    text-align: center;
    margin-top: 10px;
    position: relative;
    top: -100px;
}

.carousel-controls .prev, .carousel-controls .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.carousel-controls .prev {
    left: 10px;
}

.carousel-controls .next {
    right: 10px;
}

.carousel-controls .prev:hover, .carousel-controls .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-dots {
    text-align: center;
    margin-top: 15px;
}

.carousel-dots .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.carousel-dots .dot.active {
    background-color: #717171;
}


.skill-icon {
    height: 100px;
    width: 100px;
    margin-right: 2rem;
}

.skill-description {
    flex: 1;
    color: #fff;
    overflow-wrap: break-word;
}

.skill-description h3, .skill-description p {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .skill-icon {
        height: 60px;
        width: 60px;
    }

    .skill-description h3, .skill-description p {
        font-size: 1rem;
    }
}

.projects {
    padding: 3rem 0;
}

.projects h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.project-item {
    margin-bottom: 2rem;
}

.project-item h3 {
    font-size: 2rem;
}

.project-item p {
    margin: 0.5rem 0;
}

.project-item a {
    color: white;
    text-decoration: none; /* Opcional: para quitar el subrayado */
}

.project-item a:hover {
    text-decoration: underline; /* Añadir subrayado al pasar el mouse */
} 

.contact {
    padding: 4rem 0;
    text-align: center;
}

.contact h2 {
    margin-bottom: 2rem;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact ul li {
    margin-bottom: 1rem;
}

.contact ul li a {
    color: #ffd700;
    text-decoration: none;
}

.contact ul li a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}
